.active-nav-item {
  position: relative;
}

.active-nav-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: -25px;
  width: 25px;
  height: 30px;
  background: transparent;
  border-bottom-right-radius: 30px;
  box-shadow: 15px 0 0 0 #fff;
}

.active-nav-item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -25px;
  width: 25px;
  height: 30px;
  background: transparent;
  border-top-right-radius: 30px;
  box-shadow: 15px 0 0 0 #fff;
}
