@import "tailwindcss";

/* @font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica"),
    url("./assets/Fonts/helvetica-font/Helvetica.woff") format("woff");
} */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
}

@theme {
  --color-white: #ffffff;
  --color-dark-Blue: #132450;
  --color-blue: #4571e4;
  --color-light-blue: #9eb9ff;
  --color-arsenic: #383a48;
  --color-light-blue: #f0f7ff;
  --color-brown: rgba(56, 58, 72, 0.6);
  --color-lightGray: #e0e0e0;
  --color-lightGray2: #e1e1e1;
}
